[Unit]
Description=Prometheus exporter for PCSensor TEMPer sensor devices
Documentation=https://github.com/yrro/temper-exporter file:///usr/share/doc/prometheus-temper-exporter/README.md

[Service]
Restart=always
User=_temper-exporter
ExecStart=/usr/bin/temper-exporter
Environment=PYTHONUNBUFFERED=1
NoNewPrivileges=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
